#### Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import sqrt
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.optimizers import Adam
from keras.models import load_model
from keras.layers import Dropout

2023-04-26 15:04:17.897453: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-04-26 15:04:17.899070: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-26 15:04:17.943163: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-26 15:04:17.944124: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-26 15:04:18.841082: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

#### Pre-Processing

In [2]:
df = pd.read_csv('../Dataset/Ahemdabad.csv', skiprows = 15)
df.head()

   YEAR  MO  DY  T2M_MAX    T2M  T2M_MIN     TS   RH2M      PS  T2MDEW
0  1981   1  30    32.74  23.66    16.23  24.46  39.62  100.66    8.44
1  1981   1  31    29.87  20.52    13.20  21.29  24.56  100.78   -3.58
2  1981   2   1    28.83  18.56     9.97  19.13  17.00  101.13   -7.96
3  1981   2   2    29.18  18.76     9.08  19.08  20.62  101.13   -5.92
4  1981   2   3    32.55  21.55    10.51  20.84  16.69  100.90   -6.55

In [3]:
df['YEAR'] = df.YEAR.astype(str)
df['MO'] = df.MO.astype(str)
df['DY'] = df.DY.astype(str)

df['dateTime'] = df['YEAR'].str.cat(df['MO'])
df['dateTime'] = df['dateTime'].str.cat(df['DY'])

df.drop(['YEAR', 'MO', 'DY'], axis=1, inplace=True)

In [4]:
df['dateTime'] = pd.to_datetime(df['dateTime'], format = '%Y%m%d')
df.set_index('dateTime', inplace = True)
df.head()

            T2M_MAX    T2M  T2M_MIN     TS   RH2M      PS  T2MDEW
dateTime
1981-01-30    32.74  23.66    16.23  24.46  39.62  100.66    8.44
1981-01-31    29.87  20.52    13.20  21.29  24.56  100.78   -3.58
1981-02-01    28.83  18.56     9.97  19.13  17.00  101.13   -7.96
1981-02-02    29.18  18.76     9.08  19.08  20.62  101.13   -5.92
1981-02-03    32.55  21.55    10.51  20.84  16.69  100.90   -6.55

In [5]:
df.rename(columns= {'T2M_MAX':'tempMax', 'T2M':'temp', 'T2M_MIN':'tempMin', 'TS':'earthSkin','RH2M':'relativeHumidity','PS':'pressure','T2MDEW':'dew'}, inplace = True)
df.head()

,tempMax,temp,tempMin,earthSkin,relativeHumidity,pressure,dew
dateTime,,,,,,,
1981-01-30,32.74,23.66,16.23,24.46,39.62,100.66,8.44
1981-01-31,29.87,20.52,13.20,21.29,24.56,100.78,-3.58
1981-02-01,28.83,18.56,9.97,19.13,17.00,101.13,-7.96
1981-02-02,29.18,18.76,9.08,19.08,20.62,101.13,-5.92
1981-02-03,32.55,21.55,10.51,20.84,16.69,100.90,-6.55

In [6]:
X = df.drop('tempMax', axis = 1)

X.head()
X.shape

(15390, 6)

In [7]:
y = df['tempMax']
y

dateTime
1981-01-30    32.74
1981-01-31    29.87
1981-02-01    28.83
1981-02-02    29.18
1981-02-03    32.55
              ...
2023-03-16    34.98
2023-03-17    36.15
2023-03-18    36.38
2023-03-19    35.37
2023-03-20    33.74
Name: tempMax, Length: 15390, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, shuffle = False)

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range = (0,1))
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

#### Architecture

In [10]:
model = Sequential()
model.add(Dense(128, input_dim=X.shape[1], activation='relu'))
model.add(Dense(128, activation = 'relu'))
model.add(Dense(64, activation = 'relu'))
#Output layer
model.add(Dense(1, activation = 'linear'))

In [11]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mae'])
model.summary()

TypeError: Invalid keyword argument(s) in `compile()`: ({'validation_data'},). Valid keyword arguments include "cloning", "experimental_run_tf_function", "distribute", "target_tensors", or "sample_weight_mode".

In [ ]:
history = model.fit(X_train_scaled, y_train, validation_split=0.25, epochs =120)

In [ ]:
loss = history.history['loss']
val_loss = history.history['val_loss']
epochs = range(1, len(loss) + 1)
plt.rcParams["figure.figsize"] = (20,5)
plt.plot(epochs, loss, 'y', label='Training loss')
plt.plot(epochs, val_loss, 'r', label='Validation loss')
plt.title('Training and validation loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()
plt.show()

In [ ]:
acc = history.history['mae']
val_acc = history.history['val_mae']
plt.rcParams["figure.figsize"] = (20,5)
plt.plot(epochs, acc, 'y', label='Training MAE')
plt.plot(epochs, val_acc, 'r', label='Validation MAE')
plt.title('Training and validation MAE')
plt.xlabel('Epochs')
plt.ylabel('Accuracy')
plt.legend()
plt.show()

#### Prediction

In [ ]:
#Predict on test data
y_pred = model.predict(X_test_scaled)
print("Predicted values are: ", y_pred)
print("Real values are: ", y_test)

In [ ]:
T = range(y_pred.shape[0])

In [ ]:
plt.plot(T, y_pred[:])
plt.plot(T, y_test[:])
plt.rcParams["figure.figsize"] = (200,50)
plt.title('Maximum Temprature')
plt.xlabel('Values')

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

Temp_mae = mean_absolute_error(y_pred, y_test)
print(Temp_mae)

print(mean_squared_error(y_pred, y_test))
print(sqrt(mean_squared_error(y_pred, y_test)))